//Header
.header {
  width: 100%;
  height: 80px;
}
.titulo {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 60px;
  position: relative;
  top: 10px;
}
.titulo a {
  max-width: 140px;
}
.titulo__h1 {
  text-transform: uppercase;
  font-size: 30px;
  @include titulos($colorTitulo, $fontTitulo);
  z-index: 0;
}
.titulo__h1::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}
.titulo__h1:hover::after {
  width: 100%;
  transition: 0.3s;
}
//Main
.category {
  max-width: 1100px;
  width: 98%;
  margin: auto;
}
.container h2 {
  @include titulos($colorTitulo, $fontTitulo);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px 0px;
  text-transform: uppercase;
}
//Store
.store {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.uil {
  display: none;
  position: absolute;
  right: 30px;
  cursor: pointer;
  transition: 1.8s;
}
.uil:active {
  transform: scale(5.1);
}
.store__category {
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.store__links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
}
.store__category--item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d35400;
  padding: 10px;
  width: 180px;
  font-weight: 800;
  border-radius: 10px;
}
.store__links.show_menu {
  right: 0;
  display: flex;
  transition: 0.5s;
  width: 80%;
  position: absolute;
  top: 80px;
}
.active {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 180px;
  font-weight: 800;
  border-radius: 10px;
}
.store__category a:hover {
  background-color: rgba(75, 75, 219, 0.322);
}
.store__category--item:focus {
  background-color: blue;
}
.store__category .active:hover {
  background-color: rgba(75, 75, 219, 0.322);
}
.store__products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 15px;
}
.store__products--item img {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
}
.store__products--item p {
  display: block;
  width: 100%;
  background: #aab7b8;
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
  transition: 0.6s;
}
.store__products--item img {
  border-radius: 20px 20px 0px 0px;
}
.store__products--item:hover {
  transform: scale(1.1) translatex(5px);
  transition: transform 0.5s;
}

.store__products--item:hover p {
  background-color: rgb(90, 20, 220);
}
//Footer
.footer__section {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background: rgb(14, 13, 13);
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
}
.quote {
  font-style: italic;
  text-decoration-line: underline;
}
.contact {
  font-family: font;
  text-transform: uppercase;
  font-size: 15px;
}
.redes {
  display: flex;
  gap: 50px;
  align-items: center;
}
.redes__link {
  background: rgb(218, 121, 121);
  width: 40px;
  padding: 2px;
  border-radius: 10px;
}
.redes__link:hover {
  transform: translatey(-1px) scale(1.05);
  transition: 0.5s;
  background: rgb(231, 93, 93);
}
#wpp {
  background: green;
}
#wpp:hover {
  background: rgb(19, 172, 19);
}

//Media Queries
@media screen and (max-width: 900px) {
  * {
    overflow-x: hidden;
  }
  .store__category {
    height: 65px;
  }
  .uil {
    display: flex;
    justify-content: space-evenly;
  }
  .store__links {
    position: fixed;
    right: -100%;
    top: 80px;
    width: 100%;
    height: 100%;
    background: rgb(25, 37, 37);
    border-radius: 50px 0 0 50px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
  }
  .store__products--item {
    margin: 0 auto;
  }
  .footer__section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quote {
    margin-bottom: 15px;
    margin-right: 50px;
  }
}
