//Media Queries
@media screen and (max-width: 995px) {
  .header {
    padding: 8px;
    height: 120px;
  }
  .bars {
    margin-top: 5px;
    left: 10px;
  }
  .sideBar {
    left: -1000px;
    width: 100%;
    height: 100%;
    transition: 1s;
  }
  .sideBar ul {
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    list-style-type: none;
  }
  .newBody {
    margin-left: 0;
  }
  .titulo__h1 {
    padding-top: 10px;
  }
  .titulo img {
    padding: 10px;
    width: 10%;
    margin: 20px;
  }
  .shopCar {
    position: absolute;
    left: 70%;
    top: 90px;
  }
  .car-screen {
    width: 100%;
  }
  .buscador {
    position: absolute;
    width: 100%;
    top: 125px;
    left: -100%;
    transition: 0.5s;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .buscador i {
    display: block;
  }
  .showFinder {
    left: 15%;
    transition: 0.5s;
  }
  .lupa {
    display: block;
  }
  .uil-bars {
    display: block;
  }
  .nav__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .store {
    margin-top: 10px;
  }
  .store__category {
    display: none;
  }
  .store__links {
    width: 100%;
    height: 100%;
    background: $colorPrincipal;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .store__products--item {
    margin: 0 auto;
  }
  .store__products--item p {
    font-size: 15px;
  }
  .back-store {
    font-size: 12px;
    width: 90px;
    height: 40px;
  }
  .footer__section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quote {
    margin-bottom: 15px;
    margin-right: 50px;
  }
  .checkout-modal {
    border-radius: 0%;
    height: 100vh;
    width: 100%;
  }
  form fieldset legend {
    font-size: 12px;
  }
  .form__fields label {
    font-size: 15px;
  }
  .form__fields input {
    padding: 4px;
  }
  .message {
    font-size: 20px;
  }
  .formContact legend {
    font-size: 15px;
  }
  .formContact label {
    font-size: 12px;
  }
  .formContact .contact__input {
    height: 30px;
  }
}
@media screen and (min-width: 1710px) {
  .metodos {
    margin-left: 24%;
  }
}
@media screen and (min-width: 1410px) and (max-width: 1650px) {
  .metodos {
    margin-left: 22%;
  }
}
