* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url(/assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: -1;
  font-family: $font;
  color: white;
  transition: 0.2s;
}
a {
  text-decoration: none;
  color: white;
}
