* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min: height 100vh;
  scroll-behavior: smooth;
}
body {
  background: #0f2027;
  background: -webkit-linear-gradient(to top, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to top, #2c5364, #203a43, #0f2027);
  font-family: $font;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
