* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min: height 100vh;
  scroll-behavior: smooth;
}
body {
  background: #0f2027;
  background: -webkit-linear-gradient(to top, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to top, #2c5364, #203a43, #0f2027);
  // background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_CkWf80oZ6i379MydBRf_OXOY_kQpoCvdcg&usqp=CAU);

  font-family: $font;
  color: white;
}
