@media screen and (max-width: 616px) {
  * {
    overflow-x: hidden;
  }
  .store__category {
    flex-wrap: wrap;
    margin: 0;
    padding: 40px;
    gap: 10px;
    width: 80%;
    position: relative;
    left: 35px;
    bottom: 20px;
  }
  .store__products--item {
    margin: 0 auto;
  }
  .footer__section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quote {
    margin-bottom: 15px;
    margin-right: 50px;
  }
}
